In [1]:
from Bio.Seq import Seq
from Bio import SeqIO
import pandas as pd
test_df = pd.read_csv("Test_Data.csv")

In [2]:
test_df

,Sample,Accession,Original Bank,Genotyping Institution,species,group1,group2,Passport Species,Passport Classification,Country,...,Latitude,Longitude,lc,fw22,fw32,fw113,fas,ovate,sun,sun_dup
0,8697,8697,OSU,OSU,SLL,SLL_processing_1,SLL_processing_1_2,SLL,SLL_processing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8698,8698,OSU,OSU,SLL,SLL_processing_1,SLL_processing_1_1,SLL,SLL_processing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8699,8699,OSU,OSU,SLL,SLL_processing_1,SLL_processing_1_1,SLL,SLL_processing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8700,8700,OSU,OSU,SLL,SLL_processing_1,SLL_processing_1_2,SLL,SLL_processing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8701,8701,OSU,OSU,SLL,SLL_processing_1,SLL_processing_1_2,SLL,SLL_processing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,8805,8805,OSU,OSU,SLL,SLL_processing_1,SLL_processing_1_1,SLL,SLL_processing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,071733-1,071733-1,Cornell,OSU,mixture,mixture,mixture,SLL,SLL_fresh,USA,...,NaN,NaN,A,B,B,B,B,A,NaN,A
7,071820-2,071820-2,Cornell,OSU,mixture,mixture,mixture,SLL,SLL_fresh,USA,...,NaN,NaN,A,B,B,B,NaN,NaN,NaN,A
8,091004-15,091004-15,Cornell,OSU,mixture,mixture,mixture,SLL,SLL_fresh,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,091109-3,091109-3,Cornell,OSU,SLL,SLL_fresh,SLL_fresh_2,SLL,SLL_fresh_NY,USA,...,NaN,NaN,A,B,B,B,NaN,A,NaN,A
10,091119-2,091119-2,Cornell,OSU,SLL,SLL_fresh,SLL_fresh_2,SLL,SLL_fresh_NY,USA,...,NaN,NaN,B,B,NaN,B,NaN,A,NaN,A
11,091120-2,091120-2,Cornell,OSU,SLL,SLL_fresh,SLL_fresh_2,SLL,SLL_fresh_NY,USA,...,NaN,NaN,B,B,B,B,A,A,NaN,A
12,091120-7,091120-7,Cornell,OSU,SLL,SLL_fresh,SLL_fresh_2,SLL,SLL_fresh_NY,USA,...,NaN,NaN,B,B,B,B,B,NaN,NaN,A
13,091135-1,091135-1,Cornell,OSU,mixture,mixture,mixture,SLL,SLL_fresh,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,091144-1,091144-1,Cornell,OSU,SLL,SLL_fresh,SLL_fresh_2,SLL,SLL_fresh_NY,USA,...,NaN,NaN,B,B,B,B,B,A,NaN,A
15,091153-1,091153-1,Cornell,OSU,SLL,SLL_1,SLL_1,SLL,SLL_fresh,USA,...,NaN,NaN,A,B,B,B,NaN,A,NaN,NaN